    <table class="table">
        <thead class = "thead-dark">
        <tr>
            <th scope = "col" style = "width:20%" >Pk</th>
            <th scope = "col" style = "width:20%" >Nombre paciente</th>
            <th scope = "col" style = "width:20%" >Fecha consulta</th>
            <th scope = "col" style = "width:20%" >Consultorio(Numero - Piso)</th>
            <th scope = "col" style = "width:20%" >Medico</th>
        </tr>
        </thead>
        <tbody>
        <tr scope = "row" th:each="cita: ${citas}">

            <td th:text = "${cita.pk}"/>
            <td th:text = "${cita.nombre_paciente}"/>
            <td th:text = "${cita.fecha_consulta}"/>
            <!--
            -->
            <td th:text = "${cita.getConsultorio().toString()}"/>
            <td th:text = "${cita.getMedico().getNombres()} + ' ' + ${cita.getMedico().getAp_paterno()} +' '+ ${cita.getMedico().getAp_materno()} "/>


            <!--


            <td th:text = "${conexion.nombre}"/>
            <td th:text = "${conexion.ip}"/>
            <td th:text = "${conexion.num_con}"/>
            <td th:text = "${conexion.fecha}"/>
            <td>
                <div th:if="${conexion.num_con > '0' }">
                    <img width = "25" height = "25" src= "/images/aprobado.png" th:title = "'ICM con '+${conexion.num_con}+' conexiones'" style = "cursor:pointer" />
                </div>
                <div th:if="${conexion.num_con == '0' }">
                    <img width = "25" height = "25" src= "/images/warning.png" th:title = "'ICM con '+${conexion.num_con}+' conexiones'" style = "cursor:pointer" />
                </div>
            </td>
            -->

        </tr>
        </tbody>
    </table>

